*{
  font-family: "Architects Daughter", cursive;
    text-align: center;
    font-size: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.heading{
  border: 1px solid black;
  width: 200px;
}
button{
  width: 100%;
}